.now-showing-container,
.coming-soon-container {
  max-width: 800px;
  margin: 0 auto;
}

.movie-container {
  text-align: left;
}
/*Header*/
/* Header */
header {
    background-color: #f8f9fa; 
    padding: 70px 0; 
}

.navbar-nav .nav-item .nav-link {
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link.active {
    background-color: #0f3424; 
    color: #fff;
}

header .navbar-brand img {
    height: 40px; 
}

header .navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

header .navbar-brand a {
    font-size: 1.5rem;
}
