.now-showing-container,
.coming-soon-container {
  max-width: 800px;
  margin: 0 auto;
}

.movie-container {
  text-align: left;
}
/*Header*/
/* Header */
header {
    background-color: #f8f9fa; /* Change this to your desired color */
    padding: 70px 0; /* Adjust the top and bottom padding */
}

.navbar-nav .nav-item .nav-link {
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link.active {
    background-color: #0f3424; /* Change this to your desired color */
    color: #fff;
}

header .navbar-brand img {
    height: 40px; /* Adjust the height of the logo image */
}

header .navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin between the logo image and the brand name */
}

header .navbar-brand a {
    font-size: 1.5rem;
}
