{% extends 'base.html' %} {% load static %} {% block title %} Bookers | Booking
Page {% endblock %} {% block content %}
<div class="container">
  <header class="text-center mb-4">
    <img
      src="{% static 'image/logo.png' %}"
      class="img-fluid"
      style="max-height: 150px"
    />
    <h1 class="display-4">BOOKERS</h1>
    <h6>Every Frame Tells a Story</h6>
  </header>

  <section>
    <div class="now-showing-container mx-auto">
      <h2>Now Showing</h2>
      <hr />
      {% for show in shows %} {% if show.is_showing %}
      <div class="movie-container mb-4">
        <img src="{{ show.movie.image_url }}" class="rounded" /><br />
        <strong>Movie: {{ show.movie.title }}</strong><br />
        {{ show.calculate_price }}<br />
        Genre: {{ show.movie.genre }}<br />
        Description: {{ show.movie.description }}<br />
        Cinema: {{ show.cinema.name }}<br />
        Location: {{ show.cinema.location }}<br />
        Show Time: {{ show.show_time }}<br />
        <a href="{% url 'booking_form' show.id %}" class="btn btn-primary"
          >Buy Ticket</a
        >
      </div>
      <hr />
      {% endif %} {% endfor %}
    </div>
    <div class="coming-soon-container mx-auto mt-5">
      <h2>Coming Soon</h2>
      <hr />
      {% for show in shows %} {% if not show.is_showing %}
      <div class="movie-container mb-4">
        <img src="{{ show.movie.image_url }}" /><br />
        <strong>Movie: {{ show.movie.title }}</strong><br />
        Genre: {{ show.movie.genre }}<br />
        Description: {{ show.movie.description }}<br />
        Cinema: {{ show.cinema.name }}<br />
        Location: {{ show.cinema.location }}<br />
        Show Time: {{ show.show_time }}<br />
        <a href="#" class="btn btn-secondary">More Info</a>
      </div>
      <hr />
      {% endif %} {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
